body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin:0;
    padding:0;
    /*height: 3000px; otherwise intersection doesn't work*/
    background-color:#F1F1F1;
    font-family: 'Montserrat';
    font-size: 20px;
    line-height: auto;
    color: #000000;
}

.space0{
    z-index: 5;
    display: block;
    position: absolute;
    top: 0;
    background-color: #000000;
    width: 100vw;
    height: 100vh;
    transform: translateY(0);
    animation: coverpagespace0an 2.5s ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes coverpagespace0an{
    0%{transform: translateY(-10vh);}
    100%{transform: translateY(-90vh);}
}

.space00{
    z-index: 5;
    display: block;
    position: absolute;
    background-color: #000000;
    bottom: -1px;
    width: 100vw;
    height: 0vh;
    transform: translateY(0);
    animation: coverpagespace00an 2.5s ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes coverpagespace00an{
    0%{height:0;transform: translateY(-10vh);}
    100%{height:20vh;transform: translateY(0);}
}


#page0{
    display: grid;
    grid-template-columns: 100px 700px 100px 250px;
    grid-auto-rows: 40px;
    grid-gap:20px;
    background-color:#F1F1F1;
    grid-auto-flow:row;
}

#title1 {
    font-family:'Montserrat';
    grid-row:5/9;
    grid-column:2/3;
    font-size: 150px;
}

ul{
    position: absolute;
    top:40%;
    left:30%;
    transform: translate(-50%,-50%);
    display:flex;
    margin: 0;
    padding:0;
    background-color: #F1F1F1;
    list-style-type: none;
    overflow: hidden;
}

li{
    display: block; /*otherwise animate doesnt work, no need span tag*/
    opacity: 0;
    animation: an 2s ease;
    animation-fill-mode: forwards;
}
/*
@for $i from 1 through 10 {
    li:nth-child(#{$i}n) {
        animation-delay: #{$i * 0.5}s;
    }
}
*/
li:nth-child(1)
{ animation-delay: 1.5s;
}

li:nth-child(2)
{ animation-delay: 1.7s;
}

li:nth-child(3)
{ animation-delay: 1.9s;
}

li:nth-child(4)
{ animation-delay: 2.1s;
}

li:nth-child(5)
{ animation-delay: 2.2s;
}

li:nth-child(6)
{ animation-delay: 2.4s;
}

li:nth-child(7)
{ animation-delay: 2.5s;
}

li:nth-child(8)
{ animation-delay: 2.6s;
}

li:nth-child(9)
{ animation-delay: 2.7s;
}

@keyframes an{
    0%{opacity: 0;}
    100%{opacity: 1;}
}

a{
    display:inline-block;
    color: inherit;
    text-decoration: none;
    align-content: center;
    text-align: center;
    background-color: #f1f1f1;
    font-size: 12px;
    border-radius: 10px;
    letter-spacing: -0.1em;
    height: 100%;
    width:100%;
    opacity: 0;
    transition: all 0.7s ease-in-out;
    animation: an 2s ease 1s;
    animation-fill-mode: forwards;
    &:hover {
        transform: translateY(-2px);
        box-shadow: 0px 5px 0px rgb(0 0 0 / 100%);
      }
}

#button1{
    box-shadow: 0px 1px 0px #000000;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    z-index: 1;
    grid-row:5/6;
    grid-column:3/4;
    opacity: 0;
    animation: an 2s ease 2.3s; /*overlapped,make delay individually*/
    animation-fill-mode: forwards;
}

#button2{
    box-shadow: 0px 1px 0px #000000;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    z-index: 1;
    grid-row:6/7;
    grid-column:3/4;
    opacity: 0;
    animation: an 2s ease 2.5s;
    animation-fill-mode: forwards;
}

#button3{
    box-shadow: 0px 1px 0px #000000;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    z-index: 1;
    grid-row:7/8;
    grid-column:3/4;
    opacity: 0;
    animation: an 2s ease 2.7s;
    animation-fill-mode: forwards;
}

#button4{
    box-shadow: 0px 1px 0px #000000;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    z-index: 1;
    grid-row:8/9;
    grid-column:3/4;
    opacity: 0;
    animation: an 2s ease 2.3s;
    animation-fill-mode: forwards;
}

.space1{
    font-size: 400px;
    grid-row:6/15;
    grid-column:1/3;
    color: #F1F1F1;
    stroke-width: 1px;
    stroke-color:#000000;
    text-shadow: 2px 2px 0px #000000;
    opacity: 0;
    filter:blur(0px);
    animation: coverpagespace1an 250s infinite 2s;
    animation-fill-mode: forwards;
}

@keyframes coverpagespace1an{
    0%{opacity: 0;transform: scale(1);}
    1%{opacity: 0.7;transform: scale(1);}
    50%{opacity: 0.7;transform: scale(2);}
    51%{opacity: 0.7;transform: scale(2);}
    100%{opacity: 0.7;transform: scale(1);}
}

.navbarbutton{
    display: block;
    box-shadow: 0px 1px 0px #000000;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    width: 30px;
    height: 30px;
    position:fixed;
    top:20px;
    right:20px;
    
    opacity: 1;
    transition: all 0.5s ease-in-out;
    animation: TitleUp 5s ease-out 0s;
}

@keyframes  TitleUp {
    0% {transform: translateY(2px);
        opacity: 1;}
    100% {transform: translateY(0px);
        opacity: 1;}
}

#button3line{
    transform: scale(60%);
    transition: all 0.5s ease-in-out;
    &:hover {
        animation: button3lineinblackan 3s infinite;
      }
}

@keyframes button3lineinblackan {
    0% {transform: scale(60%);} 
    50% {transform: scale(65%);}
    100% {transform: scale(60%);}
  }


#navbar{
    display: block; /*none,block*/
    color: #F1F1F1;
    position:fixed;
    top: 20vh;
    right: -20px;
    width:8vw;
    height:40vh;
    padding: 50px;
    border-radius: 20px;
    background-color:#000000;
    opacity:1;
    transform: translateX(30vw);
    transition: all 1s ease-in-out;
}

#navbarconcept{
    display: none;
    font-size:12px;
    letter-spacing: 0.1em;
    padding: 10px;
    background-color: #000000;
    transition: all 0.5s ease-in-out;
    animation: an 2s ease 0.5s; 
    animation-fill-mode: forwards;
    &:hover {
        transform: translateY(-5px);
      }
}

#navbarwork{
    display: none;
    font-size:12px;
    letter-spacing: 0.1em;
    padding: 10px;
    background-color: #000000;
    transition: all 0.5s ease-in-out;
    animation: an 2s ease 0.7s; 
    animation-fill-mode: forwards;
    &:hover {
        transform: translateY(-5px);
      }
}

#navbarextra{
    display: none;
    font-size:12px;
    letter-spacing: 0.1em;
    padding: 10px;
    background-color: #000000;
    transition: all 0.5s ease-in-out;
    animation: an 2s ease 1s; 
    animation-fill-mode: forwards;
    &:hover {
        transform: translateY(-5px);
      }
}

#navbartop{
    display: none;
    font-size:12px;
    letter-spacing: 0.1em;
    padding: 10px;
    background-color:  #000000;
    transition: all 0.5s ease-in-out;
    animation: an 2s ease 1.3s; 
    animation-fill-mode: forwards;
    &:hover {
        transform: translateY(-5px);
      }
}





/*Page1-concept*/

.spacetopinsubpage{
    z-index: 5;
    display: block;
    position: absolute;
    background-color: #000000;
    width: 100vw;
    height: 90vh;
    transform: translateY(0);
    animation: spaceintopsubpagean 2s ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes spaceintopsubpagean{
    0%{transform: translateY(-100vh);height: 90vh;}
    99%{transform: translateY(90vh);height: 90vh;}
    100%{transform: translateY(90vh);height: 10vh;}
}


#page1{
    display: grid;
    grid-template-columns: 100px 410px 20px 50px 50px 50px 50px 250px;
    grid-auto-rows: 50px;
    grid-gap:20px;
    grid-auto-flow:row;
}

/*
.square{
    grid-row:3/4;
    grid-column:2/3;
}

@keyframes rotateinf {
    0%{-webkit-transform: rotate(0deg);}
    25%{-webkit-transform: rotate(90deg);}
    50%{-webkit-transform: rotate(180deg);}
    75%{-webkit-transform: rotate(270deg);}
    100%{-webkit-transform: rotate(360deg);}
}

#square1{
    display: inline-block;
    background-color: #000000;
    width: 18px;
    height: 18px;
    border-color: #000000;
    animation: rotateinf 20s infinite;
}

#square2{
    display: inline-block;
    background-color: #000000;
    width: 18px;
    height: 18px;
    border-color: #000000;
}

#square3{
    display: inline-block;
    background-color: #000000;
    width: 18px;
    height: 18px;
    border-color: #000000;
}

6/17: use JS to change square*/

.subtitle {
    background-color:#F1F1F1;
    font-size: 50px;
    display:flex;
    list-style-type: none;
    overflow: hidden;
    position: absolute;
    top:20vh;
    left:16vw;
    opacity:0;
    animation: an 2s ease 1.7s;
    animation-fill-mode: forwards;
}

.subtitlejp{
    z-index: -1;
    font-size: 300px;
    grid-row:1/5;
    grid-column:7/8;
    text-shadow: 2px 2px 0px #000000;
    opacity: 0;
    color: #F1F1F1;
    stroke-width: 1px;
    stroke-color:#000000;
    transform: translateY(0);
    animation: subtitlejpan 200s infinite 2s;
    animation-fill-mode: forwards;
}

@keyframes subtitlejpan{
    0%{opacity: 0;transform: translateY(0);}
    1%{opacity: 0.7;transform: translateY(0);}
    50%{opacity: 0.7;transform: translateY(-50vh);}
    51%{opacity: 0.7;transform: translateY(0);}
    100%{opacity: 0;transform: translateY(0);}
}

#content1 {
    font-size: 12px;
    line-height: 1.5rem;
    letter-spacing: 0.05rem;
    opacity: 0;
    grid-row:4/6;
    grid-column:2/3;
    animation: an 2s ease-out 2.7s;
    animation-fill-mode: forwards;
}

#content2 {
    font-size: 12px;
    line-height: 1.5rem;
    letter-spacing: 0.05rem;
    opacity: 0;
    grid-row:8/20;
    grid-column:2/8;
    animation: an 2s ease-out 3s;
    animation-fill-mode: forwards;
}

#content3 {
    font-size: 15px;
    line-height: 1.5rem;
    letter-spacing: 0.05rem;
    padding: 5px;
    opacity: 0;
    grid-row:11/12;
    grid-column:2/3;
    animation: an 2.5s ease-out 2.5s;
    animation-fill-mode: forwards;
}

@keyframes conceptdiagraman{
    0%{opacity: 0;transform: translateY(-90vh);}
    1%{opacity: 1;transform: translateY(-90vh);}
    100%{opacity: 1;transform: translateY(0);}
}

#diagramLeftTop {
    grid-row:4/6;
    grid-column:4/6;
    background-color:#000000;
    border-radius: 20%;
    border: 1px solid #000000;
    opacity: 0;
    transform: scale(0);
    transition: all 1s;
    animation: conceptdiagraman 1.5s ease-out 3.3s;
    animation-fill-mode: forwards;
}

#diagramRightTop {
    grid-row:4/6;
    grid-column:6/8;
    border-radius: 20px;
    background-color: #F1F1F1;
    border: 1px solid #000000;
    box-shadow: 0px 0px 0px #000000;
    transform: translateY(0);
    transform: scale(1);
    opacity: 0;
    transition: all 1s;
    animation: conceptdiagraman 1.5s ease-out 3.5s;
    animation-fill-mode: forwards;
    &:hover {
        transform: translateY(5%);
        box-shadow: 0px 10px 0px #000000;
        background-color: #3f5efb;
      }
}

@keyframes conceptdiagrambackgroundan{
    0%{background-position:10% 0%}
    50%{background-position:91% 100%}
    100%{background-position:10% 0%}
}


#diagramLeftBottom {
    grid-row:6/8;
    grid-column:4/6;
    background-color:#000000;
    border-radius: 20px;
    border: 1px solid #000000;
    transform: translateY(0);
    opacity: 0;
    transition: all 1s;
    animation: conceptdiagraman 1.5s ease-out 3s;
    animation-fill-mode: forwards;
}

#diagramRightBottom {
    grid-row:6/8;
    grid-column:6/8;
    background-color:#000000;
    border-radius: 20px;
    border: 1px solid #000000;
    transform: translateY(0);
    opacity: 0;
    transition: all 1s;
    animation: conceptdiagraman 1.5s ease-in-out 2.7s;
    animation-fill-mode: forwards;
}


/*Page2-work*/

.page2{
    display: grid;
    grid-template-columns: 100px 410px 20px 50px 50px 50px 50px 100px 100px 100px 100px;
    grid-auto-rows: 50px;
    grid-gap:20px;
    grid-auto-flow:row;
    transition: all 0.5s ease 0s;
}


#workpanel{
    margin-top:-10px;
    margin-left:3vw;
    grid-row:4/15;
    grid-column:2/4;
    display: flex;
    color: #F1F1F1;
    -webkit-text-stroke: 1px #000000;
    border:1px solid #F1F1F1;
}

.workno{
    padding-left: 0.5em;
    padding-right: 0.5em;
    font-size: 30px;
}

@keyframes workpanelan {
    0%{opacity: 0;transform: translateY(100vh);}
    1%{opacity: 1;transform: translateY(100vh);}
    100%{opacity: 1;transform: translateY(0);}
}

#work1{
    color: #000000;
    width:8vw;
    height:70vh;
    padding-right:0px;
    background-color: #FFFFFF;
    border-radius: 10px;
    border:1px solid #000000;
    transform: translateY(0);
    opacity: 0;
    transition: all 1s ease 0s;
    animation: workpanelan 2s ease-in-out 2s;
    animation-fill-mode: forwards;
    &:hover {
        transform: translateY(-0.05vh);
      }
}


#work2{
    width:8vw;
    height:70vh;
    padding-right:0px;
    background-color: #000000;
    border-radius: 10px;
    border:1px solid #000000;
    transform: translateY(0);
    opacity: 0;
    transition: all 1s ease 0s;
    animation: workpanelan 2s ease-in-out 2.3s;
    animation-fill-mode: forwards;
    &:hover {
        transform: translateY(-5%);
      }
}

#work3{
    width:8vw;
    height:70vh;
    padding-right:0px;
    background-color: #000000;
    border-radius: 10px;
    border:1px solid #000000;
    transform: translateY(0);
    opacity: 0;
    transition: all 1s ease 0s;
    animation: workpanelan 2s ease-in-out 2.5s;
    animation-fill-mode: forwards;
    &:hover {
        transform: translateY(-5%);
      }
}

#workcontentbackground{
    background-color: white;
    grid-row:5/10;
    grid-column:4/10;
    height:70vh;
    padding-right:0px;
    border-radius: 10px;
    border:1px solid #000000;
    transform: translateY(0);
    opacity: 0;
    transition: all 1s ease 0s;
    animation: workpanelan 2s ease-in-out 0.5s;
    animation-fill-mode: forwards;
}

#workhashtag{
    display: flex;
    grid-row:5/7;
    grid-column:4/10;
    margin-top: 10px;
    margin-left: 20px;
    padding-right: 10px;
    font-family:'Poppins';
    font-size: 10px;
    opacity: 0.5;
    letter-spacing: 0.1em;
}

#workhashtag1{
    display:inline-block;
    padding-right: 20px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    animation: an 2s ease 1s; 
    animation-fill-mode: forwards;
}

#workhashtag2{
    display:inline-block;
    padding-right: 20px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    animation: an 2s ease 1.3s; 
    animation-fill-mode: forwards;
}

#workhashtag3{
    display:inline-block;
    padding-right: 20px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    animation: an 2s ease 1.5s; 
    animation-fill-mode: forwards;
}

#workhashtag4{
    display:inline-block;
    padding-right: 20px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    animation: an 2s ease 1.7s; 
    animation-fill-mode: forwards;
}

#workhashtag5{
    display:none;
    padding-right: 20px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    animation: an 2s ease 1s; 
    animation-fill-mode: forwards;
}

#workhashtag6{
    display:none;
    padding-right: 20px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    animation: an 2s ease 1.3s; 
    animation-fill-mode: forwards;
}

#workhashtag7{
    display:none;
    padding-right: 20px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    animation: an 2s ease 1.5s; 
    animation-fill-mode: forwards;
}

#workhashtag8{
    display:none;
    padding-right: 20px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    animation: an 2s ease 1.7s; 
    animation-fill-mode: forwards;
}

#workhashtag9{
    display:none;
    padding-right: 20px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    animation: an 2s ease 1s; 
    animation-fill-mode: forwards;
}

#workhashtag10{
    display:none;
    padding-right: 20px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    animation: an 2s ease 1.3s; 
    animation-fill-mode: forwards;
}

#workhashtag11{
    display:none;
    padding-right: 20px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    animation: an 2s ease 1.5s; 
    animation-fill-mode: forwards;
}

#workhashtag12{
    display:none;
    padding-right: 20px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    animation: an 2s ease 1.7s; 
    animation-fill-mode: forwards;
}

#workcontent{
    font-size: 12px;
    margin-top: 40px;
    margin-left: 10px;
    grid-row:5/10;
    grid-column:4/10;
    line-height: 1.5rem;
    letter-spacing: 0.05rem;
    padding: 5px;
}

#workcontent1{
    display:block;
    opacity: 0;
    transition: all 1s ease 0s;
    animation: an 2s ease-out 2s;
    animation-fill-mode: forwards;
}

#workcontent2{
    display:none;
    opacity: 0;
    transition: all 1s ease 0s;
    animation: an 2s ease-out 2s;
    animation-fill-mode: forwards;
}

#workcontent3{
    display:none;
    opacity: 0;
    transition: all 1s ease 0s;
    animation: an 2s ease-out 2s;
    animation-fill-mode: forwards;
}

/*Extra*/

.page3{
    display: grid;
    grid-template-columns: 100px 410px 20px 50px 50px 50px 50px 250px;
    grid-auto-rows: 50px;
    grid-gap:20px;
    grid-auto-flow:row;
}

#extra1{
    grid-row:5/6;
    grid-column: 3/5;
}

#extra2{
    grid-row:6/7;
    grid-column: 3/5;
}

#extra3{
    grid-row:7/8;
    grid-column: 3/5;
}