@media (min-width: 576px) {font-size: 1.5em}
@media (min-width: 768px) {font-size: 1.1em}
@media (min-width: 992px) {}
@media (min-width: 1200px) {
    max-width: 1280px;

}

body {
    width: 100vw;
    height: 100vh;
    margin:0;
    padding:0;
    background-color:#F1F1F1;
    font-family: 'Montserrat';
    font-size: 10px;
    color: #222222;
}


/*Page0-index*/
#indexmaintitle {
    font-size: 20px;
}

@keyframes indexmaintitleAn{
    0%{opacity: 0; transform: translateY(-10px);}
    100%{opacity: 1; transform: translateY(0);}
}

ul{
    display: inline-block;
    position: absolute;
    top: 20vh;
    left: 5vw;
    list-style-type: none;
}

li{
    display: inline-block;
    opacity: 0;
    transition: all 1s ease-in-out;
    animation: indexmaintitleAn 1.3s ease-in-out forwards;
}

li:nth-child(1) { animation-delay: 0s }
li:nth-child(2) { animation-delay: 0.1s }
li:nth-child(3) { animation-delay: 0.2s }
li:nth-child(4) { animation-delay: 0.3s }
li:nth-child(5) { animation-delay: 0.4s }
li:nth-child(6) { animation-delay: 0.5s }
li:nth-child(7) { animation-delay: 0.6s }
li:nth-child(8) { animation-delay: 0.7s }
li:nth-child(9) { animation-delay: 0.8s }
li:nth-child(10) { animation-delay: 0.9s }
li:nth-child(11) { animation-delay: 1.0s }
li:nth-child(12) { animation-delay: 1.1s }
li:nth-child(13) { animation-delay: 1.2s }
li:nth-child(14) { animation-delay: 1.3s }
li:nth-child(15) { animation-delay: 1.4s }
li:nth-child(16) { animation-delay: 1.5s }
li:nth-child(17) { animation-delay: 2s }
li:nth-child(18) { animation-delay: 2.1s }
li:nth-child(19) { animation-delay: 2.2s }
li:nth-child(20) { animation-delay: 2.3s }
li:nth-child(21) { animation-delay: 2.4s }
li:nth-child(22) { animation-delay: 2.5s }
li:nth-child(23) { animation-delay: 2.6s }
li:nth-child(24) { animation-delay: 2.7s }
li:nth-child(25) { animation-delay: 2.8s }

@keyframes an{
    0%{opacity: 0;}
    100%{opacity: 1;}
}

#container{
    position: relative;
    height: 100vh;
}


#indexlayout{
    display: grid;
    margin-top: -30px;
    grid-auto-columns: 140px;
    grid-auto-rows: 140px;
    grid-gap: 10px;
    grid-auto-flow: row;
}


.indexbutton{
    transition: all 0.7s ease-in-out;
    &:hover {
        transform: translateY(-2px);
        color:#f95b47;
      }
}

a{
    display:inline-block;
    font-size: 8px;
    height: 100%;
    width:80%;
    text-decoration: none;
    align-content: center;
    text-align: center;
    letter-spacing: 0.1rem;
    box-shadow: 0px 1px 0px rgba(252,157,70);
    border-width: 1px;
	border-style: solid;
	border-image-source: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,157,70,1) 100%);
	border-image-slice: 1;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    animation: an 2s ease-in-out 1s forwards;
}

#indexbutton1{
    grid-row:3/4;
    grid-column:4/5;
    height: 30px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    animation: an 1s ease-in-out 3s forwards;
    animation-fill-mode: forwards;
}

#indexbutton2{
    grid-row:3/4;
    grid-column:5/6;
    height: 30px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    animation: an 1s ease-in-out 3.2s forwards;
    animation-fill-mode: forwards;
}

#indexbutton3{
    grid-row:3/4;
    grid-column:6/7;
    margin-top: 40px;
    height: 30px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    animation: an 1s ease-in-out 3.4s forwards;
    animation-fill-mode: forwards;
}

#indexbutton4{
    grid-row:8/9;
    grid-column:3/4;
    margin-top: 40px;
    height: 30px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    animation: an 1s ease-in-out 3.6s forwards;
    animation-fill-mode: forwards;
}

.indeximage{
    z-index: -1;
    position: absolute;
    left: 0vw;
    top: 40vh;
    height:50vh;
    width:100vw;
    opacity: 0;
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,157,70,1) 100%);
    background-size: 200% 200%; 
    animation: indeximageAn 3s ease-in-out 1.7s forwards, moveGradient 10s linear infinite;
}

@keyframes indeximageAn {
    0%{opacity: 0;height:0vh;width:0vh;}
    30%{opacity: 1;height:0.1vh;width:100vw}
    100%{opacity: 1;height:30vh;width:100vw}
}


/*intoconcept*/
#intoconceptpage{
    display: none;
    z-index: 1;
    height:100vh;
    width:100vw;
    position: absolute;
    left: 0vw;
    top: 0vh;
    opacity: 0;
    animation: intoconceptpagean 2s ease-in-out 0s,moveGradient 10s linear infinite;
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,157,70,1) 100%);
    background-size: 200% 200%; 
    animation-fill-mode: forwards;
}

@keyframes intoconceptpagean {
    0%{opacity: 1;height:80vh;}
    50%{opacity: 1;height:20vh;}
    100%{opacity: 1;height:0vh;}
}


/*navbar*/
#navbarbutton{
    z-index: 5;
    display: block;
    position:fixed;
    top:2vh;
    right:2vw;
    width: 90px;
    height: 30px;
    background-color: #F1F1F1;
    opacity: 1;
    transition: all 0.5s ease-in-out;
    animation: navbarbuttonan 2s ease-out 0s;
}

@keyframes  navbarbuttonan{
    0% {opacity: 0;transform: translateY(2px);}
    100% {opacity: 1;transform: translateY(0px);}
}


#navbar{
    z-index: 4;
    display: block; /*none,block*/
    position:fixed;
    top: -0.1vh;
    right: -0.1vw;
    width:5vw;
    height:50vh;
    padding: 50px;
    border-width: 0px;
	border-style: solid;
	border-image-source: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,157,70,1) 100%);
	border-image-slice: 1;
    opacity:1;
    transform: translateX(0px);
    transition: all 1s ease-in-out;
}

.navbarbutton{
    box-shadow: 0px 0px 0px rgba(252,157,70);
    border-width: 0px;
    padding: 10px;
    color: #222222;
    transition: all 0.5s ease-in-out;
    &:hover {
        transform: translateY(-3px);
        color:#f95b47;
      }
}

#navbarconcept{
    display: none;
    margin-top: 30px;
    animation: an 2s ease 0.3s forwards; 
}

#navbarwork{
    display: none;
    animation: an 2s ease 0.4s forwards; 
}

#navbarextra{
    display: none;
    text-decoration: line-through;
    animation: an 2s ease 0.5s forwards; 
}

#navbartop{
    display: none;
    animation: an 2s ease 0.6s forwards; 
}

#navbarcontact{
    display: none;
    animation: an 2s ease 0.7s forwards; 
}


/*Page1-concept*/
.subtitle {
    font-size: 25px;
}

#conceptsubtitle1{
    top:80vh;
}

#conceptsubtitle2{
    top:130vh;
}

#conceptsubtitle3{
    top:210vh;
}

#conceptlayout{
    display: grid;
    grid-auto-columns: 140px;
    grid-auto-rows: 140px;
    grid-gap:20px;
    grid-auto-flow:row;
}


#conceptblocktext {
    grid-row:1/4;
    grid-column:2/10;
    overflow: hidden;
    font-size: 60px;
    padding-top: 80px;
    transform: translateY(50px);
    transition: all 0s ease-in-out;
    animation: conceptblocktextan 2s ease-out 0s forwards;
}

@keyframes conceptblocktextan {
    0%{transform:translateY(-200px);}
    100%{transform: translateY(0px);}
}


.conceptblockimage{
    grid-row:3/5;
    grid-column:2/10;
    height:1vh;
    width:3vh;
    border-radius: 5px;
    animation: conceptblockimagean 2.5s ease-in-out 1.5s forwards,moveGradient 10s linear infinite;
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,157,70,1) 100%);
    opacity: 0;
    background-size: 200% 200%; 
}

@keyframes conceptblockimagean {
    0%{opacity: 0;height:0vh;width:0vh;}
    30%{opacity: 1;height:0.1vh;width:50vw}
    100%{opacity: 1;height:25vh;width:60vw}
}

@keyframes moveGradient {
    0% {background-position: 0% 0%;}
    50% {background-position: 100% 100%;}
    100% {background-position: 0% 0%;}
}

.animated{
    opacity: 1;
    transition: all 1s ease 0s;
    animation: an 1.5s ease-out 0s forwards;
}

.animateddiagram{
    opacity: 1;
    transition: all 1s ease 0s;
    animation: conceptdiagraman 2s ease-out 0s forwards;
}

#progresslayout{
    display: grid;
    grid-auto-columns: 140px;
    grid-auto-rows: 10px;
    grid-gap:10px;
    margin-left: 20px;
    grid-auto-flow:row;
}

.maincontent{
    letter-spacing: 0.05em;
}

#conceptcontent1 {
    grid-row:5/6;
    grid-column:3/7;
    line-height: 20px;
}

#conceptcontent2 {
    grid-row:6/7;
    grid-column:3/7;
    line-height: 20px;
}

.conceptprogressyear{
    font-size:8px;
    letter-spacing: 0.05em;
}

#conceptprogressyear1{
    grid-row:8/9;
    grid-column:3/4;
}

#conceptprogressyear2{
    grid-row:9/10;
    grid-column:3/4;
}

#conceptprogressyear3{
    grid-row:10/11;
    grid-column:3/4;
}

#conceptprogressyear4{
    grid-row:11/12;
    grid-column:3/4;
}

#conceptprogressyear5{
    grid-row:12/13;
    grid-column:3/4;
}

#conceptprogresscontent1 {
    font-size:8px;
    grid-row:8/9;
    grid-column:4/8;
}

#conceptprogresscontent2 {
    font-size:8px;
    grid-row:9/10;
    grid-column:4/8;
}

#conceptprogresscontent3 {
    font-size:8px;
    grid-row:10/11;
    grid-column:4/8;
}

#conceptprogresscontent4 {
    font-size:8px;
    grid-row:11/12;
    grid-column:4/8;
}

#conceptprogresscontent5 {
    font-size:8px;
    grid-row:12/13;
    grid-column:4/8;
}


@keyframes conceptblockshorteran {
    0%{opacity: 0;height:0vh;width:0vw;}
    30%{opacity: 1;height:0.1vh;width:8vw}
    100%{opacity: 1;height:15vh;width:10vw}
}

.conceptprogressimage{
    height:0vh;
    width:0vw;
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,157,70,1) 100%);
    border-radius: 5px;
    opacity: 0;
    transition: all 1s ease 0s;
    animation: conceptblockshorteran 2s ease-out 3.5s forwards,moveGradient 10s linear infinite;
    background-size: 200% 200%; 
    &:hover{
        transform: translateY(-10px);
    }
}

#conceptprogressimage1 {
    grid-row:15/16;
    grid-column:3/4;
}

#conceptprogressimage2 {
    grid-row:15/16;
    grid-column:4/5;
    animation: conceptblockshorteran 2s ease-out 3.7s forwards,moveGradient 10s linear infinite;
}

#conceptprogressimage3 {
    grid-row:15/16;
    grid-column:7/8;
    animation: conceptblockshorteran 2s ease-out 4s forwards,moveGradient 10s linear infinite;
}

#aboutmelayout{
    display: grid;
    grid-auto-columns: 140px;
    grid-auto-rows: 140px;
    grid-gap:20px;
    grid-auto-flow:row;
}

#conceptaboutmecontent1{
    grid-row:4/5;
    grid-column:3/8;
    line-height: 20px;
}

.conceptaboutmeimage{
    border-radius: 5px;
    opacity: 0;
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,157,70,1) 100%);
    transition: all 1s ease 0s;
    animation: conceptblocklongeran 2.5s ease-in-out 1.5s forwards,moveGradient 10s linear infinite;
    background-size: 200% 200%; 
}

#conceptaboutmeimage1 {
    grid-row:6/7;
    grid-column:1/10;
}

@keyframes conceptblocklongeran {
    0%{opacity: 0;height:0vh;width:0vw;}
    30%{opacity: 1;height:0.1vh;width:100vw}
    100%{opacity: 1;height:20vh;width:100vw}
}


.aboutmediagramlist{
    display: grid;
    grid-auto-columns: 30px;
    grid-auto-rows: 30px;
    grid-gap:1px;
    grid-auto-flow:row;
}


@keyframes conceptdiagraman{
    0%{opacity: 0;transform: translate(0px, -100px)}
    100%{opacity: 1;transform: translate(0px, 0px)}
}


.aboutmediagramblack {
    background-color:#222222;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    transition: all 0.5s ease-in-out;
    &:hover{
        background-color: #F1F1F1;
    }
}

#aboutmediagramblack1 {
    grid-row:20/21;
    grid-column:1/2;
}

#aboutmediagramblack2 {
    grid-row:23/24;
    grid-column:2/3;
}

#aboutmediagramblack3 {
    grid-row:22/23;
    grid-column:3/4;
}

#aboutmediagramblack4 {
    grid-row:10/11;
    grid-column:7/8;
}

#aboutmediagramblack5 {
    grid-row:12/13;
    grid-column:10/11;
}

#aboutmediagramblack6 {
    grid-row:20/21;
    grid-column:13/14;
}

#aboutmediagramblack7 {
    grid-row:20/21;
    grid-column:24/25;
}

#aboutmediagramblack8 {
    grid-row:12/13;
    grid-column:22/23;
}

.aboutmediagramwhite {
    font-family: 'Courier New', monospace;
    color: #f1f1f1;
    border-radius: 5px;
    border-width: 1px;
	border-style: solid;
	border-image-source: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,157,70,1) 100%);
	border-image-slice: 1;
    overflow: hidden;
    padding: 5px;
    font-size: 8px;
    transition: all 1s ease-in-out;
    &:hover{
        transform: translate(0px, -5px);
        background-color: #F1F1F1;
        color: #fa2f2f;
    }
}

#aboutmediagramwhite1 {
    grid-row:9/10;
    grid-column:2/3;
    width: 120px;
    height: 40px;
}

#aboutmediagramwhite2 {
    grid-row:21/22;
    grid-column:7/8;
    width: 80px;
    height: 40px;
}

#aboutmediagramwhite3 {
    grid-row:12/13;
    grid-column:26/27;
    width: 60px;
    height: 40px;
}



/*Page2-work*/
.worklayout{
    display: grid;
    grid-auto-columns: 50px;
    grid-auto-rows: 50px;
    grid-gap:20px;
    grid-auto-flow:row;
}

#worksubtitle1{
    top:15vh;
    left:5vw; /*match with other subtitle*/
}

@keyframes workcontentbackgroundonan {
    0%{opacity: 0;transform: translateY(300px);}
    100%{opacity: 1;transform: translateY(0);}
}

#workcontentbackgroundon{
    z-index: -1;
    background-color: #F1F1F1;
    grid-row:4/12;
    grid-column:4/18;
    border-width: 1px;
	border-style: solid;
	border-image-source: radial-gradient(circle, rgba(242,191,172,1) 4%, rgba(70,109,252,1) 33%, rgba(183,51,210,1) 65%, rgba(76,245,213,1) 100%);
	border-image-slice: 1;
    opacity: 0;
    transition: all 1s ease 0s;
    animation: workcontentbackgroundonan 2s ease-in-out 0s forwards;
}


@keyframes workimage {
    0%{height:0%;transform: translateY(0px);}
    50%{height:100%;transform: translateY(0px);}
    100%{height:0%;transform: translateY(100vh);}
}

.workcontentbackgroundoff{
    z-index: 1;
    position: relative;
    grid-row:4/12;
    grid-column:4/18;
    background-color: #222222;
    transform: translateY(0px);
    transition: all 0s ease 0s;
    animation: workimage 2s ease-in-out 0s;
    animation-fill-mode: forwards;
}

#workimage1{
    display: block;
}

#workimage2{
    display: none;
}

#workimage3{
    display: none;
}



@keyframes worknoan {
    0%{opacity: 0;transform: translateY(30px);}
    100%{opacity: 1;transform: translateY(10px);z-index: 0;}
}


.workno{
    z-index: -2;
    font-size: 12px;
    width: 30px;
    height: 30px;
    padding-top: 10px;
    padding-left: 25px;
    border-width: 1px;
    transform: translateY(0px);
    transition: all 1s ease 0s;
    &:hover {
        transform: translateY(-3px);
      }
}

#workno1{
    grid-row:3/4;
    grid-column:5/6;
    opacity: 0;
    color: #222222;
    background-color: #F1F1F1;
    border-style: solid;
	border-image-source: radial-gradient(circle, rgba(242,191,172,1) 4%, rgba(70,109,252,1) 33%, rgba(183,51,210,1) 65%, rgba(76,245,213,1) 100%);
	border-image-slice: 1;
    animation: worknoan 1s ease-in-out 2s forwards;
}

#workno2{
    grid-row:3/4;
    grid-column:6/7;
    opacity: 0;
    color: #F1F1F1;
    background-color: #222222;
    border-style: solid;
	border-image-source: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(76,245,239,1) 45%, rgba(252,70,200,1) 81%);
	border-image-slice: 1;
    animation: worknoan 1s ease-in-out 2.3s forwards;
}

#workno3{
    grid-row:3/4;
    grid-column:7/8;
    opacity: 0;
    color: #F1F1F1;
    border-style: solid;
	border-image-source: radial-gradient(circle, rgba(251,130,63,1) 13%, rgba(252,105,70,1) 33%, rgba(170,143,176,1) 62%, rgba(76,245,239,1) 100%);
	border-image-slice: 1;
    background-color: #222222;
    animation: worknoan 1s ease-in-out 2.5s forwards;
}


.workhashtag{ 
    grid-row:4/5;
    grid-column:8/15;
    font-size: 8px;
    letter-spacing: 0.05em;
    padding: 20px;
    opacity: 0.5;
}


#workhashtag1{
    display:inline-block;
    opacity: 0;
    padding-right: 20px;
    transition: all 0.5s ease-in-out;
    animation: an 1s ease 0.5s forwards; 
}

#workhashtag2{
    display:inline-block;
    opacity: 0;
    padding-right: 20px;
    transition: all 0.5s ease-in-out;
    animation: an 1s ease 0.6s forwards; 
}

#workhashtag3{
    display:inline-block;
    opacity: 0;
    padding-right: 20px;
    transition: all 0.5s ease-in-out;
    animation: an 1s ease 0.7s forwards; 
}

#workhashtag4{
    display:inline-block;
    opacity: 0;
    padding-right: 20px;
    transition: all 0.5s ease-in-out;
    animation: an 1s ease 0.8s forwards; 
}

#workhashtag5{
    display:none;
    padding-right: 20px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    animation: an 1s ease 0.5s forwards; 
}

#workhashtag6{
    display:none;
    padding-right: 20px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    animation: an 1s ease 0.6s forwards; 
}

#workhashtag7{
    display:none;
    padding-right: 20px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    animation: an 1s ease 0.7s forwards; 
}

#workhashtag8{
    display:none;
    padding-right: 20px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    animation: an 1s ease 0.8s forwards; 
}

#workhashtag9{
    display:none;
    padding-right: 20px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    animation: an 1s ease 0.5s forwards; 
}

#workhashtag10{
    display:none;
    padding-right: 20px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    animation: an 1s ease 0.6s forwards; 
}

#workhashtag11{
    display:none;
    padding-right: 20px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    animation: an 1s ease 0.7s forwards; 
}

#workhashtag12{
    display:none;
    padding-right: 20px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    animation: an 1s ease 0.8s forwards; 
}

.workcontent{
    grid-row:5/10;
    grid-column:8/17;
    margin: 20px;
    line-height: 20px;
}

#workcontent1{
    display:block;
    opacity: 0;
    transition: all 1s ease 0s;
    animation: an 2s ease-out 0.5s forwards;
}

#workcontent2{
    display:none;
    opacity: 0;
    transition: all 1s ease 0s;
    animation: an 2s ease-out 0.5s forwards;
}

#workcontent3{
    display:none;
    opacity: 0;
    transition: all 1s ease 0s;
    animation: an 2s ease-out 0.5s forwards;
}

.workcontentbelowimage{
    grid-row:8/9;
    grid-column:8/17;
    margin: 20px;
    line-height: 1.2rem;
}

@keyframes workcontent456an {
    0%{z-index: -2; opacity: 0;height:0vh;width:0vh;}
    30%{z-index: -2; opacity: 1;height:0.1vh;width:inherit}
    100%{z-index: 0; opacity: 1;height:20vh;width:inherit}
}

#workcontentbelowimage1{
    display:block;
    z-index: -2;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: radial-gradient(circle, rgba(242,191,172,1) 4%, rgba(70,109,252,1) 33%, rgba(183,51,210,1) 65%, rgba(76,245,213,1) 100%);
    transition: all 1s ease 2s;
    animation: workcontent456an 2s ease-out 1s forwards, moveGradient 100s linear infinite;
    background-size: 200% 200%; 
}

#workcontentbelowimage2{
    display:none;
    z-index: -2;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(76,245,239,1) 45%, rgba(252,70,200,1) 81%);
    transition: all 1s ease 2s;
    animation: workcontent456an 2s ease-out 1s forwards, moveGradient 100s linear infinite;
    background-size: 200% 200%; 
}


#workcontentbelowimage3{
    display:none;
    z-index: -2;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: radial-gradient(circle, rgba(251,130,63,1) 13%, rgba(252,105,70,1) 33%, rgba(170,143,176,1) 62%, rgba(76,245,239,1) 100%);
    transition: all 1s ease 2s;
    animation: workcontent456an 2s ease-out 1s forwards, moveGradient 100s linear infinite;
    background-size: 200% 200%; 
}